include header.pug
//- #{classes}
- const dateFormat = (dateString) => {
      -   const date = new Date(dateString);
      -   const day = date.getDate().toString().padStart(2, '0');
      -   const month = (date.getMonth() + 1).toString().padStart(2, '0');
      -   const year = date.getFullYear();
      -
      -   return `${day}-${month}-${year}`;
      - }

section#about.about
  .container(data-aos='fade-up' data-aos-delay='100')
    .row.align-items-xl-center.gy-5
      .col-lg-12
        h1#size.text-center Classes List
      .col-lg-12
        // Add a table here within col-lg-12
        table.table.table-bordered
          thead
            tr
              th S.No.
              th Class No.
              th Created At
              th Updated At
          tbody
            - for (var i = 0; i < classes.length; i += 1)
                tr
                th(scope='row') #{i + 1}
                td #{classes[i].number}
                td  #{dateFormat(classes[i].createdAt)}
                td  #{dateFormat(classes[i].updatedAt)}

include footer.pug