include header.pug
//- h1#size Hello world #{key}
// About Section - Home Page

section#about.about
  .container(data-aos='fade-up' data-aos-delay='100')
    .row.align-items-xl-center.gy-5
      .col-lg-12
        h1#size.text-center Hello world #{key}
      .col-lg-12
        // Add a table here within col-lg-12
        table.table.table-bordered
          thead
            tr
              th Scope
              th First Name
              th Last Name
              th Username
          tbody
            tr
              th(scope='row') 1
              td John
              td Doe
              td @johndoe
            tr
              th(scope='row') 2
              td Jane
              td Smith
              td @janesmith

section#about.about
  .container(data-aos='fade-up' data-aos-delay='100')
    .row.align-items-xl-center.gy-5
      .col-xl-5.content
        h3 About Us
        h2 Ducimus rerum libero reprehenderit cumque
        p
          | Ipsa sint sit. Quis ducimus tempore dolores impedit et dolor cumque alias maxime. Enim reiciendis minus et rerum hic non. Dicta quas cum quia maiores iure. Quidem nulla qui assumenda incidunt voluptatem tempora deleniti soluta.
        a.read-more(href='#')
          span Read More
          i.bi.bi-arrow-right
      .col-xl-7
        .row.gy-4.icon-boxes
          .col-md-6(data-aos='fade-up' data-aos-delay='200')
            .icon-box
              i.bi.bi-buildings
              h3 Eius provident
              p
                | Magni repellendus vel ullam hic officia accusantium ipsa dolor omnis dolor voluptatem
          // End Icon Box
          .col-md-6(data-aos='fade-up' data-aos-delay='300')
            .icon-box
              i.bi.bi-clipboard-pulse
              h3 Rerum aperiam
              p
                | Autem saepe animi et aut aspernatur culpa facere. Rerum saepe rerum voluptates quia
          // End Icon Box
          .col-md-6(data-aos='fade-up' data-aos-delay='400')
            .icon-box
              i.bi.bi-command
              h3 Veniam omnis
              p
                | Omnis perferendis molestias culpa sed. Recusandae quas possimus. Quod consequatur corrupti
          // End Icon Box
          .col-md-6(data-aos='fade-up' data-aos-delay='500')
            .icon-box
              i.bi.bi-graph-up-arrow
              h3 Delares sapiente
              p
                | Sint et dolor voluptas minus possimus nostrum. Reiciendis commodi eligendi omnis quideme lorenda
          // End Icon Box
// End About Section

include footer.pug