// ======= Footer =======
footer#footer.footer
  .container.footer-top
    .row.gy-4
      .col-lg-5.col-md-12.footer-about
        a.logo.d-flex.align-items-center(href='index.html')
          span Append
        p
          | Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.
        .social-links.d-flex.mt-4
          a(href='')
            i.bi.bi-twitter
          a(href='')
            i.bi.bi-facebook
          a(href='')
            i.bi.bi-instagram
          a(href='')
            i.bi.bi-linkedin
      .col-lg-2.col-6.footer-links
        h4 Useful Links
        ul
          li
            a(href='#') Home
          li
            a(href='#') About us
          li
            a(href='#') Services
          li
            a(href='#') Terms of service
          li
            a(href='#') Privacy policy
      .col-lg-2.col-6.footer-links
        h4 Our Services
        ul
          li
            a(href='#') Web Design
          li
            a(href='#') Web Development
          li
            a(href='#') Product Management
          li
            a(href='#') Marketing
          li
            a(href='#') Graphic Design
      .col-lg-3.col-md-12.footer-contact.text-center.text-md-start
        h4 Contact Us
        p A108 Adam Street
        p New York, NY 535022
        p United States
        p.mt-4
          strong Phone:
          span +1 5589 55488 55
        p
          strong Email:
          span info@example.com
  .container.copyright.text-center.mt-4
    p
      | &copy; 
      span Copyright
      strong.px-1 Append
      span All Rights Reserved
    .credits
      // All the links in the footer should remain intact.
      // You can delete the links only if you've purchased the pro version.
      // Licensing information: https://bootstrapmade.com/license/
      // Purchase the pro version with working PHP/AJAX contact form: [buy-url]
      | Designed by 
      a(href='https://bootstrapmade.com/') BootstrapMade
// End Footer
// Scroll Top Button
a#scroll-top.scroll-top.d-flex.align-items-center.justify-content-center(href='#')
  i.bi.bi-arrow-up-short
// Preloader
//- #preloader
//-   div
//-   div
//-   div
//-   div
// Vendor JS Files
script(src='/assets/vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='/assets/vendor/glightbox/js/glightbox.min.js')
script(src='/assets/vendor/purecounter/purecounter_vanilla.js')
script(src='/assets/vendor/isotope-layout/isotope.pkgd.min.js')
script(src='/assets/vendor/swiper/swiper-bundle.min.js')
script(src='/assets/vendor/aos/aos.js')
script(src='/assets/vendor/php-email-form/validate.js')
// Template Main JS File
script(src='/assets/js/main.js')
//- script(src='/js/script.js')

//- include footer.pug
