doctype html
head
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  title Home - Append Bootstrap Temlate
  meta(content='' name='description')
  meta(content='' name='keywords')
  // Favicons
  link(rel="/stylesheet", href="/styles.css")
  link(href='/assets/img/favicon.png' rel='icon')
  link(href='/assets/img/apple-touch-icon.png' rel='apple-touch-icon')
  // Fonts
  link(href='https://fonts.googleapis.com' rel='preconnect')
  link(href='https://fonts.gstatic.com' rel='preconnect' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap' rel='stylesheet')
  // Vendor CSS Files
  link(href='/assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(href='/assets/vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
  link(href='/assets/vendor/glightbox/css/glightbox.min.css' rel='stylesheet')
  link(href='/assets/vendor/swiper/swiper-bundle.min.css' rel='stylesheet')
  link(href='/assets/vendor/aos/aos.css' rel='stylesheet')
  // Template Main CSS File
  link(href='/assets/css/main.css' rel='stylesheet')
  //
    =======================================================
    * Template Name: Append
    * Updated: Sep 18 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/append-bootstrap-website-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ========================================================
// ======= Header =======
header#header.header.d-flex.align-items-center
  .container-fluid.d-flex.align-items-center.justify-content-between
    a.logo.d-flex.align-items-center.me-auto.me-xl-0(href='index.html')
      // Uncomment the line below if you also wish to use an image logo
      // <img src="/assets/img/logo.png" alt="">
      h1 Library
      span .
    // Nav Menu
    nav#navmenu.navmenu
      ul
        li
          a.active(href='/api/v1/class/loadView') Home
        li
          a(href='/api/v1/class/classes-page') Classes
        li
          a(href='/api/v1/section/sections-list') Sections
        li
          a(href='/api/v1/subjects/subjects-list') Subjects
        li
          a(href='/api/v1/users/users-list') Users
        li
          a(href='/blog.html') Blog
        li.dropdown.has-dropdown
          a(href='#')
            span Dropdown
            i.bi.bi-chevron-down
          ul.dd-box-shadow
            li
              a(href='#') Dropdown 1
            li.dropdown.has-dropdown
              a(href='#')
                span Deep Dropdown
                i.bi.bi-chevron-down
              ul.dd-box-shadow
                li
                  a(href='#') Deep Dropdown 1
                li
                  a(href='#') Deep Dropdown 2
                li
                  a(href='#') Deep Dropdown 3
                li
                  a(href='#') Deep Dropdown 4
                li
                  a(href='#') Deep Dropdown 5
            li
              a(href='#') Dropdown 2
            li
              a(href='#') Dropdown 3
            li
              a(href='#') Dropdown 4
        li
          a(href='/index.html#contact') Contact
      i.mobile-nav-toggle.d-xl-none.bi.bi-list
    // End Nav Menu
    a.btn-getstarted(href='/index.html#about') Get Started
// End Header