include header.pug
//- #{Users}
- const dateFormat = (dateString) => {
      -   const date = new Date(dateString);
      -   const day = date.getDate().toString().padStart(2, '0');
      -   const month = (date.getMonth() + 1).toString().padStart(2, '0');
      -   const year = date.getFullYear();
      -
      -   return `${day}-${month}-${year}`;
      - }

section#about.about
  .container(data-aos='fade-up' data-aos-delay='100')
    .row.align-items-xl-center.gy-5
      .col-lg-12
        h1#size.text-center Users List
      .col-lg-12
        // Add a table here within col-lg-12
        table.table.table-bordered
          thead
            tr
              th S.No.
              th Login Id
              th First Name
              th Last Name
              th Gender
              th Created At
              th Updated At
          tbody
            - for (var i = 0; i < Users.length; i += 1)
                tr
                th(scope='row') #{i + 1}
                td #{Users[i].login_id}
                td #{Users[i].first_name}
                td #{Users[i].last_name}
                - if (Users[i].gender === undefined)
                  td -
                - else
                  td #{Users[i].gender}
                td  #{dateFormat(Users[i].createdAt)}
                td  #{dateFormat(Users[i].updatedAt)}

include footer.pug