/* styles.css */
h1 { background-color: red;}
.size { font-size: 100px;}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  .sidebar {
    background-color: #555;
    color: #fff;
    width: 250px;
    padding: 20px;
  }
  
  .sidebar h2 {
    font-size: 1.5rem;
    margin-top: 0;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .main-content {
    padding: 20px;
  }
  